// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';

$c-background: #e3e3e3;

@mixin backgroundimage($background, $url, $size){
    background: $background;
    background-image: $url;
    background-size: $size;
}

@include base(membership-july-16, $c-background);

/*.membership-july-16--wrapper{
    width: 100%;

    @include mq($until: phablet){
            overflow: visible;
        }
}*/


.membership-july-16--wrapper {
    @include backgroundimage(no-repeat, url('@@assetPath@@/texture.png'), cover); 
    background-position: center;
    font-family: $f-serif-headline;
    width: 1300px;
    height: 350px; 

    @include mq($until: desktop){
        height: 280px;
    }

    @include mq($until: tablet){
        width: 100%;
    }

    @include mq($until: phablet){
        height: 93px;
    }  

    @include mq($until: mobileLandscape){
        height: 88px;
    }

}
