// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

//$c-background: #654c5b;
$c-watchNow: #F5A623;
$c-lightGrey: #dadada;
$c-darkGray: #333333;
$c-white: #ffffff;

@import 'shared/_imports';

.leicesters-journey__anchor{
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    position: absolute !important;
    z-index: 2 !important;
    cursor: pointer;
}

// Layout 

.leicesters-journey__wrapper{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-image:url(@@assetPath@@/background.jpg);
	background-position: center center no-repeat;
	background-size:cover;
    background-color: $c-darkGray;
    height:280px;
    top:0;
    margin:0;

    @include mq(phablet){
    }

	@include mq($until: desktop) {
        background-position-x: 32%;
    }

    @include mq(desktop) {
        height:300px;
        //background-position-x: -32%;
    }
}

.leicesters-journey__content{
    color: white;
    height: 180px;
    z-index: 4;

    @include mq(phablet) {
        padding: 10px 20px;
        height: 200px;
        right:0;
    }

    @include mq(desktop) {
        padding: 10px 20px;
        height: 380px;
        width: 30%;
        position:absolute;
        background-color: $c-darkGray;
        opacity:1;
    }
}

// Logos
.leicesters-journey__guardian-video-logo{
    position:absolute;
    z-index:2;
    top:20px;
    svg{
        width: 150px;
        height: 80px;
    }
    @include mq(phablet){
    top:15px;
    svg {   
        margin-left: 20px;
        }
    }
    @include mq(desktop) {
        svg {
            width:250px;
            height:140px;
        }
        top:70px;
        margin-left:-10px;
    }
}

.guardianwatch__logo{
    padding-top:5px;
    svg {
        width: 150px;
        height: 20px;
        float: right;
    }
}
// Headline
.leicesters-journey__copy{
    padding-top:60px;
    @include mq(phablet){
        width:70%;
        padding-top:40px;
    }
    @include mq(desktop){
        padding-top:0;
        position:relative;
        padding:0;
        margin-top:45px;
    }
}

.leicesters-journey__headline{
	width: 90%;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Guardian Sans Web';
    color: $c-white;
    margin:20px 0 5px;

    @include mq(phablet) {
        width: 80%;
        font-size: 34px;
        line-height: 32px;
    }

    @include mq(desktop) {
        width:120%;
        font-size: 38px;
        line-height: 40px;
        margin: -10px 0 5px;
    }
}

.leicesters-journey__subheadline{
    font-size: 18px;
    font-family: 'Guardian Text Sans Web';
    line-height: 20px;
    color: $c-white;
    width: 90%;

    @include mq(phablet) {
        width: 70%;
    }
    @include mq(desktop){
        width:120%;
    }
}

// Buttons
.leicesters-journey__button {
    svg {
        width:15px;
        height:10px;
        padding-right:3px;
    }
    position: relative;
    top:10px;
    background-color: $c-watchNow;
    color: $c-darkGray;
    border:none;
}

.button.leicesters-journey__button {
    margin-left: -3px;
    cursor: pointer;
    padding-top:4px;

    @include mq(tablet) {
        height: 35px !important;
        font-size: 1.1rem;
        width: 150px;
        display: block;
    }

    &:hover{
        background-color: darken($c-watchNow, 10%);
    }

    
}

// Video
.leicesters-journey__video-overlay{
    display: none;
    @include mq(desktop){
        display: block;
        position:absolute;
        z-index:1;
        width:100%;
        height:100%;
        background-color:$c-darkGray;
        opacity: 0.3;
    }
}

.leicesters-journey__video{
    position:absolute;
    display:none;

    @include mq(desktop){
        width: 1100px;
        margin: -115px -200px 0;
        display:block;
    }
}
